[submodule "src/github.com/spacemonkeygo/errors"]
	path = server/src/github.com/spacemonkeygo/errors
	url = https://github.com/spacemonkeygo/errors
[submodule "src/golang.org/x/net"]
	path = server/src/golang.org/x/net
	url = https://github.com/golang/net.git
[submodule "src/github.com/spacemonkeygo/spacelog"]
	path = server/src/github.com/spacemonkeygo/spacelog
	url = https://github.com/spacemonkeygo/spacelog
[submodule "src/golang.org/x/crypto"]
	path = server/src/golang.org/x/crypto
	url = https://github.com/golang/crypto
[submodule "src/golang.org/x/oauth2"]
	path = server/src/golang.org/x/oauth2
	url = https://github.com/golang/oauth2
[submodule "src/google.golang.org/appengine"]
	path = server/src/google.golang.org/appengine
	url = https://github.com/golang/appengine
[submodule "src/github.com/golang/protobuf"]
	path = server/src/github.com/golang/protobuf
	url = https://github.com/golang/protobuf/
[submodule "src/cloud.google.com/go"]
	path = server/src/cloud.google.com/go
	url = https://github.com/GoogleCloudPlatform/gcloud-golang
[submodule "src/github.com/googleapis/gax-go"]
	path = server/src/github.com/googleapis/gax-go
	url = https://github.com/googleapis/gax-go
[submodule "src/google.golang.org/grpc"]
	path = server/src/google.golang.org/grpc
	url = https://github.com/grpc/grpc-go
[submodule "src/github.com/markbates/goth"]
	path = server/src/github.com/markbates/goth
	url = https://github.com/markbates/goth
[submodule "src/github.com/mrjones/oauth"]
	path = server/src/github.com/mrjones/oauth
	url = https://github.com/mrjones/oauth
[submodule "src/github.com/jtolds/webhelp"]
	path = server/src/github.com/jtolds/webhelp
	url = https://github.com/jtolds/webhelp
[submodule "src/github.com/jtolds/webhelp-oauth2"]
	path = server/src/github.com/jtolds/webhelp-oauth2
	url = https://github.com/jtolds/webhelp-oauth2
[submodule "server/src/github.com/spacemonkeygo/flagfile"]
	path = server/src/github.com/spacemonkeygo/flagfile
	url = https://github.com/spacemonkeygo/flagfile
[submodule "secrets"]
	path = secrets
	url = https://source.developers.google.com/p/politiforce-150719/r/secrets
[submodule "server/src/github.com/jtolds/gls"]
	path = server/src/github.com/jtolds/gls
	url = https://github.com/jtolds/gls
[submodule "server/src/github.com/jtolds/webhelp-whgoth"]
	path = server/src/github.com/jtolds/webhelp-whgoth
	url = https://github.com/jtolds/webhelp-whgoth
