html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 15px;
  margin-bottom: 60px;
}

.navbar-brand {
  padding: 5px 30px 5px 40px;
}

.navbar {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .navbar-nav>li>a {
    margin-top: 26px;
    padding-top: 4px;
    padding-bottom: 0px;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  font-size: 14px;
  padding-top: 20px;
  color: #bbb;
}

.footer a, .footer a:active, .footer a:hover, .footer a:visited {
  color: #bbb;
}

.footer .container {
  border-top: 1px solid #bbb;
  padding-top: 10px;
}
